.forgot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
   height: 100vh;

  background-image: url("./assets/pic.png"); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.forgot-box {
  background-color: #0a1628;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  width: 350px;
  text-align: center;
}

.forgot-box h2 {
  margin-bottom: 20px;
   color: white;
  font-size: 28px;
  font-weight: bold;
}

.forgot-box input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.forgot-box button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  background-color: #00c853;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.forgot-box button:hover {
  background-color: #0056b3;
}

.success-message {
  color: green;
  margin-top: 10px;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.login-link {
  color: #007bff;
  cursor: pointer;
  font-weight: bold;
}

.login-link:hover {
  text-decoration: underline;
}